doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/vendors/underscore-min.js" type="text/javascript")
    script(src="/vendors/jquery.min.js" type="text/javascript")
    script(src="/vendors/backbone-min.js" type="text/javascript")
    script(src="/javascripts/app.js" type="text/javascript")
    
